---
layout: default
---

{% if site.places %}
  <h3 class="next-meetups-h3">Próximos encontros</h3>
  {% for place in site.places %}
  <section id="next">
    <div class="next-infos">
      <h4 class="next-h4">{{ place.city }}</h4>
      <p>Toda segunda às 19:30h</p>
      <address>
        <a href="{{ place.url }}">{{ place.name }}</a>.<br />
        <p>{{ place.address }}</p>
      </address>
    </div>
    <ul class="social">
      <li id="share-twitter">
        <a href="{{ place.twitter_url }}">Twitter</a>
      </li>
    </ul>
    <iframe width="940" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ place.embed_url }}"></iframe>
  </section>
  {% endfor %}
{% endif %}

<!-- /next -->
{% assign first_post = site.posts.first %}
<div id="blog-featured" class="column-02">
  <h4>Blog</h4>
  <h5>
    <a href="{{ first_post.url }}">
    {{ first_post.title }}
    </a>
  </h5>
  <ul id="post-infos">
    <li>Postado em {{ first_post.date | date: '%d/%m/%Y' }}</li>
  </ul>
  <p>{{ first_post.content | strip_html | truncate: 600 }} <em>(...)</em></p>
</div>
<!-- /column-02 -->