---
layout: default
body_id: 'home'
---

{% if site.places %}
  <h3 class="next-meetups-h3">Próximos encontros</h3>
  {% for place in site.places %}
  <section id="next">
    <div class="next-infos">
      <h4 class="next-h4">{{ place.city }}</h4>
      <p>{{ place.time }}</p>
      <address>
        <a href="{{ place.url }}">{{ place.name }}</a>.<br />
        <p>{{ place.address }}</p>
      </address>
    </div>
    <ul class="social">
      <li id="share-twitter">
        <a href="http://twitter.com/share?text=Eu%20vou%20no%20%23horaextra%20na%20{{ place.address }}%20-%20Chega%20mais!&url=http://horaextra.org" target="_blank">Twitter</a>
      </li>
    </ul>

    <iframe class="map embed" width="940" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ place.address }}&amp;z=15&amp;output=embed"></iframe>

    <a class="map static" href="{{ place.url }}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ place.geolocation }}&amp;markers=color:0xF6C535|{{ place.geolocation }}&amp;zoom=15&amp;size=750x350&amp;sensor=false" /></a>

  </section>
  {% endfor %}
{% endif %}

<!-- /next -->
{% assign first_post = site.posts.first %}
<div id="blog-featured" class="column-02">
  <h4>Blog</h4>
  <h5>
    <a href="{{ first_post.url }}">
    {{ first_post.title }}
    </a>
  </h5>
  <ul id="post-infos">
    <li>Postado em {{ first_post.date | date: '%d/%m/%Y' }}</li>
  </ul>
  <p>{{ first_post.content | strip_html | truncate: 600 }} <em>(...)</em></p>
</div>
<!-- /column-02 -->