
	<footer>
		<div class="holder">
			
			<div id="placa">

				<img src="/static/img/placa.png" alt="Placa Hora Extra" />

				<p>O estabelecimento conta com uma placa do evento para você não ficar igual um bobo procurando a galera (;</p>

			</div> <!-- /placa -->

			<span class="foot-logo">
				<img src="/static/img/footer-ill.png" width="160" height="166" alt="Hora Extra" />
			</span>

		</div>
	</footer> <!-- /footer -->
	
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/static/js/garlic.min.js" type="text/javascript"></script>
    <script src="/static/js/he.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>