<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hora Extra</title>
    <meta name="robots" content="index, follow" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="icon" href="/static/img/favicon.png" sizes="64x64" />
    <!-- Open Graph -->
    <meta content="#horaextra" property="og:title" />
    <meta content="http://www.horaextra.org" property="og:url" />
    <meta content="/static/img/favicon.png" property="og:image" />
    <meta content="" property="og:description" />
    <!-- Viewport Config -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <!-- Media Queries -->
    <link rel="stylesheet" type="text/css" href="/static/css/he-core.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/he-web.css" media="(min-width:801px)" />
    <link rel="stylesheet" type="text/css" href="/static/css/he-mobile.css" media="(max-width:801px)" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/static/css/he-web.css" media="screen" />
    <![endif]-->
  </head>