/* General */

* {
	-webkit-transition: padding 0.5s linear, margin 0.2s linear, border-color 1s linear;
}


/* Page */

.holder {
  width:700px;
}


/* Content */

#content {
	width:360px;
}

#content h2 {
	font-size:30px;
  line-height:40px;
}

/*-*/

#post-infos {
  margin-bottom:40px;
}

#post-infos li {
  width:100%;
  margin:10px 0 -5px 0;
}

#post-infos li:first-child {
  margin-top:0;
}


/* Comment Form */

#valid {
  width:94%;
  padding:5% 3% 5% 3%;
}

#valid li {
  border-radius:3px;
  width:94%;
  padding:3%;
}

#valid label {
  width:100%;
  margin:0 0 5px 0;
  text-align:left;
}

#valid input[type="text"], textarea {
	width:94% !important;
	padding:0 3% 0 3%;
}

textarea {
  max-width:94%;
}


/* Home */

#call {
	width:100%;
  padding:85px 0 45px 0;
}

h1 img {
    width:45%;
}

h2.description {
  font-size:37px;
  line-height:47px;
  margin:15px 0 0 0;
}


/* Gallery */

#gallery > li {
  width:48%;
}


/* Max Width, 686px */

@media (max-width:686px) {
  
  /* General */

  body {
    background:#fefefe !important;
  }

  h1 a {
  	width:155px; height:25px;
  	background:url("../img/m-logo.png");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
  	h1 a { 
  	    background:url("../img/m-logo2x.png");
  	    background-size:155px 50px;
  	}
  }
  

  /* Topbar */

  #topbar {
    border-color:#f6c535 !important;
  }
  
  #topbar a {
    padding-right:10px;
    padding-left:10px;
  }
  
  #citys a {
    margin-left:1px;
    float:right;
  }

  #topbar h1 a {
  	width:124px; height:20px;
  	background:url("../img/m-logo.png");
    display:inline;
    padding:0;
    margin:12px 0 0 0;
    float:left !important;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
  	h1 a { 
  	    background:url("../img/m-logo2x.png");
  	    background-size:124px 40px;
  	}
  }
  
  #topbar h1 a:hover {
    background-position:0 0;
    background-color:inherit;
  }
  

  /* Header */

  header {
    display:none;
  }


  /* Page */

	.holder {
		width:86%;
		padding:0 7% 0 7%;
	}
  
  
  /* Content */

	#content {
		width:100%;
    padding:30px 0 0 0;
	}
  
  #content h2 {
  	font-size:25px;
    line-height:35px;
    margin-top:45px;
  }

  
  /* Comments */

  .comments > li {
    margin:15px 0 0 0;
    padding-top:15px;
  }
  
  
  /* Aside */

  aside {
  	width:100%;
    padding-bottom:40px;
    margin-top:40px;
  }
  
  #next-event {
  	width:98%;
    padding:1% 1% 0 1%;
  }
  
  #next-event h4 {
    width:96%;
    margin-left:4%;
  }

  #next-event > p, #next-event address {
    margin-left:4%;
  }
  
  
  /* Footer */

  .foot-logo {
    display:none;
  }
  
  
  /* Footer */
  
  footer {
    padding: 0 0 40px 0;
  }
  
  
  /* Placa */

  #placa {
    width:100%;
    float:left;
  }
  
  #placa p {
    margin:85px 0 0 0;
    padding-right:5%;
  }  

  #placa > img {
    margin-top:40px;
    margin-right:30px;
    float:left;
  }
  

  /* Home */
  
  #call {
    padding:60px 0 40px 0;
  }

  #call h1 {
    display:none;
  }
  
  h2.description {
    font-size:30px;
    text-align:left;
    line-height:37px;
  }
  
  
  /* Columns */
  
  .column-01, .column-02 {
  	margin:0 0 40px 0;
  }
  
  .column-01 h4, .column-02 h4 {
  	font-size:25px !important;
  }
  
  
  /* Logos */
  
  #logos {
  	margin-bottom:50px !important;
  }

}

@media (max-width:601px) {

  /* Columns */

  .column-01, .column-02 {
  	width:100%;
  }
  
  .column-01 h4, .column-02 h4 {
  	margin:50px 0 20px 0;
  }
  
  .column-02 h4 {
    margin-top:10px;
  }
  

  /* Next Event */
  
  #next {
  	padding:45px 0 0 0;
  }
  
  #next h3 {
  	font-size:30px;
  }
  
  /* Social */
  
  .social {
    margin:25px 0 0 0;
    float:left;
  }

  
  /* Logo */
  
  #logos > li {
    width:50%;
  }

}


/* Max Width, 480px */

@media (max-width:480px) {

  /* Page */

	.holder {
		width:92%;
		padding:0 4% 0 4%;
	}
  
  #topbar h1 a {
  	width:auto; height:auto;
  	background:none;
    display:inline;
    text-indent:0;
    color:#fff;
    font-size:17px;
    font-weight:normal;
    padding:0;
    margin:0;
  }

  
  /* Comments */

  .comments img {
    width:68px; height:68px;
  }
  
  aside .comments a {
    margin-top:-20px;
  }
  
  .comments div {
    margin-left:90px;
  }
  

  /* Placa */
  
  #placa p {
    margin:60px 0 0 0;
  }
  
}


/* Max Width, 381px */

@media (max-width:381px) {
  

  /* Topbar */
  
  #topbar a {
    font-size:13px;
    float:right;
  }
  
  #citys a {
    width:46px; height:44px;
    text-indent:-9999px;
    padding:0 !important;
  }
  
  #topbar h1 a {
    background:none;
    font-size:14px;
  }
  
  
  /* Content */
  
  #content h2 {
  	font-size:20px;
    line-height:30px;
  }
  
  
  /* Form */
  
  .buts {
    width:100%; height:44px;
    text-align:center;
  	padding:0;
  }
  
  
  /* Footer */
  
  footer {
    padding-top:40px;

  }
  
  
  /* Placa */
  
  #placa {
    width:100%;
    text-align:center;
    float:left;
  }
  
  #placa img {
    float:none;
    margin:0 0 20px 0;
  }
  
  #placa p {
    margin:0 !important;
  }

}