/* Page */

.holder {
  width:940px;
}


/* Content */

#content h2 {
	font-size:40px;
  line-height:45px;
}

/*-*/

#post-infos li {
  margin:0 20px 0 0;
}


/* Content */

#content {
	width:540px;
}

/* Comment Form */

#valid {
  width:540px;
}

#valid li {
  width:95%;
  padding:10px 5% 10px 0;
}

#valid label {
  width:32%;
  margin:9px 20px 0 0;
  text-align:right;
}

#valid input[type="text"], textarea {
	width:53%;
	padding:0 10px 0 10px;
}

textarea {
  max-width:53%;
}

.buts {
  margin-left:183px;
}


/* Home */

#call {
	width:80%;
  padding:100px 10% 60px 10%;
}

h1 img {
    width:50%;
}

h2.description {
  font-size:37px;
  line-height:47px;
  margin:15px 0 0 0;
}


/* Gallery */

#gallery > li {
  width:31.3%;
}

#next .map.static { display: none }