{% include head.html %}
  <body>
    {% include topbar.html %}
    <header>
      <div class="holder">
        <h1>
          <a href="/">
          Hora Extra
          </a>
        </h1>
      </div>
    </header>
    <!-- /header -->
    <div class="holder">
      <section id="content">
        {{ content }}
      </section>
      <!-- /content -->
      <aside>
        <section id="next-event">
          <h4>Próximo Evento</h4>
          <p>Toda segunda às 19:30h</p>
          <address>
            <a href="#">Lanchão &amp; CIA</a>		
            <p>
              Rua do Ouvidor, Centro.<br />
              Rio de Janeiro, RJ.
            <p>
          </address>
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=Rio+De+Janeiro,RJ&amp;zoom=15&amp;size=270x200&amp;maptype=roadmap
&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318
&amp;markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&amp;sensor=true" />
        </section>
        <!-- /next-event -->
      </aside>
      <!-- /aside -->
    </div>
    <!-- holder -->
{% include footer.html %}