{% include head.html %}
  <body>
    {% include topbar.html %}
    <header>
      <div class="holder">
        <h1>
          <a href="/">
          Hora Extra
          </a>
        </h1>
      </div>
    </header>
    <!-- /header -->
    <div class="holder">
      <section id="content">
        {{ content }}
      </section>
      <!-- /content -->
      <aside>
        <section id="next-event">
          <h4>Próximo Evento</h4>
          <p>Toda segunda às 19:30h</p>
          <address>
            <a href="#">Lanchão &amp; CIA</a>		
            <p>
              Rua do Ouvidor, Centro.<br />
              Rio de Janeiro, RJ.
            <p>
          </address>
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lanch%C3%A3o+%26+CIA+Rua+do+Ouvidor,+Centro.+Rio+-+RJ&amp;aq=&amp;sll=-22.903923,-43.179234&amp;sspn=0.016169,0.033023&amp;ie=UTF8&amp;hq=Lanch%C3%A3o+%26+CIA+Rua+do+Ouvidor,+Centro.+Rio+-+RJ&amp;hnear=&amp;radius=15000&amp;t=m&amp;ll=-22.902553,-43.176088&amp;spn=0.102818,0.071946&amp;output=embed"></iframe>
        </section>
        <!-- /next-event -->
      </aside>
      <!-- /aside -->
    </div>
    <!-- holder -->
{% include footer.html %}