{% include head.html %}
  <body id="home">
    {% include topbar.html %}
    <div class="holder">
      <section id="call">
        <h1>
          <img src="/static/img/h-logo.png" alt="Hora Extra" />
        </h1>
        <h2 class="description">
          Encontro semanal de desenvolvedores para<br> trocar ideias e beber um chopp.
        </h2>
      </section>
      <!-- /call -->

      {{ content }}

      <h4 id="iniciativas">Iniciativas</h4>
      <ul class="logos">
        <li>
          <a href="http://smallactsmanifesto.org" title="Small Acts Manifesto">
          <img src="/static/img/logos/iniciativas/smallacts.jpg" alt="Small Acts Manifesto" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://dojorio.org/" title="Coding Dojo Rio">
          <img src="/static/img/logos/iniciativas/dojorio.jpg" alt="Dojorio" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://pythonrio.org/" title="Python Rio">
          <img src="/static/img/logos/iniciativas/pythonrio.jpg" alt="Python Rio" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://www.openspacerio.org/" title="Open Space Rio">
          <img src="/static/img/logos/iniciativas/openspacerio.jpg" alt="Open Space Rio" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://forkinrio.appspot.com/" title="ForkInRio. Apenas um grupo de estudos diferente.">
          <img src="/static/img/logos/iniciativas/forkinrio.jpg" alt="Fork In Rio" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://www.python.org.br/ ">
          <img src="/static/img/logos/iniciativas/pythonbrasil.jpg" alt="Python Brasil" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://rubyonrio.org/">
          <img src="/static/img/logos/iniciativas/rubyonrio.jpg" alt="Ruby On Rio" />
          </a>
        </li>
        <li>
          <a rel="external" href="http://pythoncampus.org/evento/unesa-madureira/">
          <img src="/static/img/logos/iniciativas/pythoncampus.jpg" alt="Python Campus" />
          </a>
        </li>
      </ul>
    </div>
    <!-- holder -->
{% include footer.html %}