---
layout: blog
---
<h2>{{ page.title }}</h2>
<ul id="post-infos">
  <li>Postado em {{ page.date | date: '%d/%m/%Y' }}</li>
</ul>
{{ content }}
<h3>
  Comentários<br />
  <span>Got an account with one of these? Login here, or just enter your comment below.</span>
</h3>
<ul class="comments">
  <li>
    <img src="/static/img/writers/sylvestre.jpg" alt="Sylvestre" />
    <div>
      <a href="#">
      Sylvestre  Mergulhão
      </a>
      <ul class="comment-infos">
        <li>20/02/2013</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore!</p>
    </div>
  </li>
  <li>
    <img src="/static/img/writers/avatar.jpg" alt="Usu&aacute;rio An&ocirc;nimo" />
    <div>
      <span class="cm-user">
      Usuário Anônimo
      </span>
      <ul class="comment-infos">
        <li>20/02/2013</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore!</p>
    </div>
  </li>
  <li>
    <img src="/static/img/writers/eduardo.jpg" alt="Eduardo" />
    <div>
      <a href="#">
      Eduardo Fiorezi
      </a>
      <ul class="comment-infos">
        <li>20/02/2013</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore!</p>
    </div>
  </li>
  <li>
    <img src="/static/img/writers/rafael.jpg" alt="Rafael" />
    <div>
      <a href="#">
      Rafael Lima
      </a>
      <ul class="comment-infos">
        <li>20/02/2013</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore!</p>
    </div>
  </li>
</ul>
<h3>Deixe seu comentário</h3>
<form id="valid" action="/login" method="post" data-persist="garlic">
  <ul>
    <li>
      <label for="cm-name">Nome:</label>
      <input type="text" id="cm-name" name="cm-name" />
    </li>
    <li>
      <label for="cm-email">Email:</label>
      <input type="text" id="cm-email" name="cm-email" />
    </li>
    <li>
      <label for="cm-url">URL (opcional):</label>
      <input type="text" id="cm-url" name="cm-url" />
    </li>
    <li>
      <label for="cm-comment">Comentário</label>
      <textarea type="text" id="cm-comment" name="cm-comment"></textarea>
    </li>
    <li>
      <a class="buts" onclick="document.getElementById('valid').submit();return false;">
      Comentar
      </a>
      <input class="input-hide" type="submit" value="Submit the form!" />
    </li>
  </ul>
</form>
